* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
    font-family: 'Open sans' , sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    display: block;
    float: left;
    width: 100%;
    border-bottom: 1px solid #254159;
    padding: 1rem 0
}

.main-container {
    display: block;
    max-width: 100%;
    margin: auto;
}

.container {
    display: block;
    float: left;
    margin: 0 auto;
}



h1 {
font-size: 2.4rem;
color: #254159;
margin-bottom: 20px;
margin-top: 20px;
text-indent: 20px;
}

h2 {
font-size: 2rem;
color: #254159;
margin-bottom: 20px;
text-indent: 20px;
}

h3 {
    font-size: 1.8rem;
    color: #254159;
    margin-bottom: 20px;
    text-indent: 20px;
}

h4 {
font-size: 1.6rem;
color: #254159;
margin-bottom: 10px;
padding: 10px;
text-indent: 20px;
}

p {
   margin-bottom: 10px;
   line-height: 1.4; 
   text-indent: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin-left: 20px;
}

ol {
    margin-left: 30px;
}

ol li {
    font-size: 1.4rem;
    color: #454545;
}

section {
    background-color: #efefef;
    float: left;
    font-size: 1.5rem;
    width: 100%;
}

section nav {
    display: block;
    float: left;
    width: 28%;
    margin-top: 20px;

}

nav li {
    background-color: #c0b9b9;
    margin: 1px 20px 1px 10px;
    padding: 10px;
}

nav li:hover {
    background-color: #dfdfdf;
}

nav a {
    text-decoration: none;
    color: #254159;
}

nav a:hover {
    color: #385874;
}

section article {
    display: block;
    float: left;
    width: 70%;
    padding-left: 20px;
}

footer {
    background-color: #254159;
    color: #f5f5f5;
    float: left;
    width: 100%;
    padding: 20px 0px 20px 0px;
    margin-top: 10px;
}

footer p {
    color: #ffffff;
    font-size: 1.4rem;
    text-indent: 20px;
}

footer small {
    font-size: 80%;
    display: block;
}

#tenho-interesse {
    width: 100%;
}

.cognito {
    height: 370px !important;
    overflow: hidden !important;
}


@media (max-width: 1024px) {

    header {
        width: 100%;
        padding: 20px 0px;
    }

    p {
    font-size:16px;
}

}

@media (max-width:768px) and (min-width:426px) {

    section article {
        width: 100%;
        display: block;
        padding: 0px;
    }

    section nav {
        width: 100%;
    }
    
    h1 {
        font-size: 2.0rem
    }

    p {
        margin-left: 1%;
    }
}

@media (max-width: 425px) and (min-width: 320px) {

    header {
        width: 100%;
        margin: 0px;
        padding: 20px 0px;
    }

    section nav, section article {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    nav li {
        background-color: #efefef;
        margin: 1px;
    }

    nav li:hover {
        background-color: #8f3e3e;
    }

    nav a {
        text-decoration: none;
    color: #254159;
    }

    nav a:hover {
        color: #385874;
    }

    section article {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    div.article {
        width: 100%;
    }

    .container img {
       padding-left: 20px;
    }

    h1, h2, h3, h4, p {
        padding-left: 20px;
        text-indent: 20px;
    }
}